/* static/style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Background color or use an image */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}



.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

/* static/style.css */

/* ... your existing styles ... */

li {
    /* ... your existing styles ... */
    cursor: pointer; /* Add this line to change cursor on hover */
}

li:hover {
    background-color: #e2e6ea; /* Add a background color on hover */
}


li span {
    flex: 1;
}

li a {
    color: #dc3545;
    cursor: pointer;
}
