<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="todo-app">
            <div class="app-title">
                <h2>To-do app</h2>
                <i class="fa-solid fa-book-bookmark"></i>
            </div>
            <form action="/add_task" method="post">
                <div class="row">
                    <input type="text" name="title" id="input-box" placeholder="add your tasks" required>
                    <button id="addBtn">Add</button>
                </div>
            </form>
            <button onclick="clearTasks()">Clear Tasks</button>
            <ul id="list-container">
                {% for task in task_list %}
                    {% if task.complete == False %}
                        <a href="/complete/{{ task.id }}">
                            <li class="incomplete" onclick="toggleChecked(this)">
                                {{ task.title }}
                                <a class="remove" href="/remove/{{ task.id }}">X</a>
                            </li>
                        </a>
                    {% else %}
                        <a href="/complete/{{ task.id }}">
                            <li class="completed" onclick="toggleChecked(this)">
                                {{ task.title }}
                                <a class="remove" href="/remove/{{ task.id }}">X</a>
                            </li>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
