<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="myDIV" class="header">
        <h1>To-Do List</h1>

        <form method="POST" action="{{ url_for('add_task') }}">
            <label for="description">New Task:</label>
            <input type="text" id="myInput" name="description" required>
            <span onclick="newElement()" class="addBtn">Add</span>
        </form>

        <h2>Tasks:</h2>
        <ul id="myUL">
            {% for task in tasks %}
                <li class="task-item {% if task.completed %}completed-task{% endif %}" 
                    data-task-id="{{ loop.index-1 }}">
                    {% if not task.completed %}
                        <span>{{ task.description }}</span>
                        <span class="remove-task">&#10003;</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        
    </div>
    <script>
        function completeTask(url) {
            window.location.href = url;
        }
    
        function removeTask(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>