<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="todo-app">
            <div class="app-title">
                <h2>To-do app</h2>
                <i class="fa-solid fa-book-bookmark"></i>
            </div>
            <div class="row">
                <input type="text" id="input-box" placeholder="add your tasks">
                <button>Add</button>
            </div>
            <ul id="list-container">
                {% for task in tasks %}
                    <li data-task-id="{{ loop.index-1 }}" class="{% if task.completed %}checked{% endif %}">
                        {{ task.description }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>




    <script src="script.js"></script>
</body>

</html>
